<div id="glaze_recipe_version_<%=glaze_recipe_version_counter %>" class="glaze_recipe_version">

  Version <%= glaze_recipe_version_counter %>

  <p class="specific-gravity">
    Specific Gravity: <%= glaze_recipe_version.specific_gravity %>
  </p>

  <p class="notes">
    <%= glaze_recipe_version.notes %>
  </p>

  <h3>Ingredients:</h3>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Amount/100</th>
      </tr>
    </thead>


    <% if glaze_recipe_version.glaze_recipe_ingredients.empty? %>
      No Ingredients. <%= link_to "Add Ingredients", new_glaze_recipe_glaze_recipe_version_path(@glaze_recipe) %>

    <% else %>
      <tbody>
        <% glaze_recipe_version.glaze_recipe_ingredients.each do |gri| %>
          <tr>
            <td><%= gri.glaze_material.name %></td>
            <td><%= gri.amount %></td>
          </tr>
        <% end %>
      </tbody>

      <%= link_to "Edit Ingredients", edit_glaze_recipe_glaze_recipe_version_path(@glaze_recipe) %>
    <% end %>


  </table>



  <button>Add Ingredients</button>
</div>
