<p id="notice"><%= notice %></p>

<h1>Glaze Recipes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Abbreviation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @glaze_recipes.each do |glaze_recipe| %>
      <tr>
        <td><%= glaze_recipe.name %></td>
        <td><%= glaze_recipe.abbreviation %></td>
        <td><%= link_to 'Show', glaze_recipe %></td>
        <td><%= link_to 'Edit', edit_glaze_recipe_path(glaze_recipe) %></td>
        <td><%= link_to 'Destroy', glaze_recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Glaze Recipe', new_glaze_recipe_path %>
