<div class="glaze-recipe">

  <p id="notice"><%= notice %></p>
  <h1> <%= @glaze_recipe.name %> (<%= @glaze_recipe.abbreviation %>)</h1>

  <%= render partial: "glaze_recipe_version", collection: @glaze_recipe.glaze_recipe_versions %>

  <%= link_to 'Add Version', new_glaze_recipe_glaze_recipe_version_path(@glaze_recipe) %> |
  <%= link_to 'Edit', edit_glaze_recipe_path(@glaze_recipe) %> |
  <%= link_to 'Back', glaze_recipes_path %>
</div>
