<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <h1><%= link_to "Sigillata", root_path %></h1>
      <ul>
        <li><%= link_to "Clays", clays_path, class: (controller_name == "clays" ? 'active' : '') %></li>
        <li><%= link_to "Glaze Materials", glaze_materials_path,
          class: (controller_name == "glaze_materials" ? 'active' : '') %></li>
        <li><%= link_to "Glaze Recipes", glaze_recipes_path,
          class: (controller_name == "glaze_recipes" ? 'active' : '') %></li>
        <li><%= link_to "Pots", pots_path,
          class: (controller_name == "pots" ? 'active' : '') %></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
