<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <h1><%= link_to "Sigillata" %></h1>
      <ul>
        <li><%= link_to "Clays", controller: "clays" %></li>
        <li><%= link_to "Glaze Materials", controller: "glaze_materials" %></li>
        <li><%= link_to "Glaze Recipes", controller: "glaze_recipes" %></li>
        <li><%= link_to "Pots", controller: "pots" %></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
